@import url("reset.css");

body {
    background: #f0f0f0;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
header {
    background: #fff;
    position: relative;
    height: 64px;
}
.project-title {
    background: #4aaaa5;
    color: #fff;
    font-size: 32px;
    line-height: 64px;
    padding: 0 16px;
    width: 275px;
    float: left;
    font-family: 'Georgia';
}
.me{
    width: 50%;
    float: left;
    padding: 0px 12px;
}

nav {
    float: left;
    width: calc(100% - 275px);
}
nav .nav-element {
    color: #666;
    line-height: 64px;
    font-size: 16px;
    float: right;
    padding: 0 0 0 24px;
    text-decoration: none;
}
h1 {
    font-size: 24px;
    color: #4aaaa5;

}
.wrapper {
    width: 100%;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
}
.divider {
    height: 2px;
    background: #f0f0f0;
    width: 100%;
    margin-bottom: 20px;

}
.card {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
}
.closer{
    width: 100%;
    border-top: 8px solid #4aaaa5;
    position: fixed;

}
.form{
    line-height: 16px;
    padding: 20px 0px;
    width: 50%;
}
label {
    width: 100%;
}
input,
textarea {
    margin-bottom: 16px;
    width: 100%;

}
form .submit{
    background: #4aaaa5;
    width: 100px;
    font-family: 'georgia';
    color: #fff;
    padding: 10px;
    font-size: 14px;
}
form .submit:hover{
    background: blue;
}
textarea {
    height: 200px;
}
.container{
    position: relative;
}
.hangman{
    position: absolute;
    width: 280px;
    top: 90px;
    left:10px;
    background: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman';
}
.rpggame{
    position: absolute;
    width: 280px;
    top: 90px;
    left: 314px;
    background: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman';
}
.triviagame{
    position: absolute;
    width: 280px;
    top: 270px;
    left: 10px;
    background: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman';
}
.rutgers{
    position: absolute;
    width: 280px;
    top: 270px;
    left: 314px;
    background: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman';
}
.rockpaperscissors{
    position: absolute;
    width: 280px;
    top: 450px;
    left: 10px;
    background: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman';
}

.cat{
    width: 300px;
    padding: 10px;
}
.desk{
    width: 300px;
    padding: 10px;
}
.bear{
    width: 300px;
    padding: 10px;
}
.flowers{
    width: 300px;
    padding: 10px;
}
.cat2{
    width: 300px;
    padding: 10px;
}
footer {
	background: #666;
	border-top: 8px solid #4aaaa5;
	color: #fff;
	padding: 16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .copyright {
	text-align: center;
    font-size: 10px;
}
